.slider{
    width:100%;
    height:300px;
    display:flex;
    gap:20px;
    padding-left:20px;
    
    .fullSlider{
        position :absolute;
        width:100vw;
        height:100vh;
        top:0;
        left:0;
        background-color : black;
        display:flex;
        justify-content:space-between;
        align-items:center;
        z-index:999;
        .arrow{
            flex:1;
            display:flex;
            align-items:center;
            justify-content:center;
            img
            {
                width:50px;
                &.righticon{
                    transform:rotate(180deg);
                }
            }
        }
        .imgContainer{
            flex:10;
            img{
                height:100%;
                width:100%;
                object-fit:cover;
            }
        }
        .close{
            position:absolute;
            top:0;
            right:0;
            color:white;
            font-weight:bold;
            padding:50px;
            cursor:pointer;

        }
    }
    img{
        width:100%;
        height:100%;
        object-fit:cover;
        border-radius:10px;
        cursor:pointer;
    }
    .bigImage{
        flex:3;
    }
    .smallImages{
        flex:1;
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        gap:20px;
        img{
            height:80px;
        }
    }
}