.filter{
    display : flex;
    flex-direction:column;
    gap : 10px;
    h1{
        font-weight : 300;
        font-size : 24px;
    }
    
    .item{
        
        display : flex;
        flex-direction:column;
        gap:2px;
        label{
            font-size:10px;
        }
        input,select{
            width: 100px;
            border : 1px solid gray;
            padding:10px;
            border-radius:5px;
            font-size:14px;
        }
    }
    .top{
        input{
            width:100%;
        }
    }
    .bottom{
       display:flex;
       justify-content:space-between;
       flex-wrap:wrap;
       gap:20px;
       button{
        width:100px;
        padding:10px;
        border:none;
        cursor:pointer;
        background-color : #fece51;
        img{
            height:24px;
            width:24px;
        }
       }
    }
}